<div>
	<div><!-- first row-->
		<div><!-- name -->
			
		</div>
		<div><!-- date time-->
			
		</div>
		<div><!-- btn -->
			<div><!-- like -->
				
			</div>
			<div><!-- dislike-->
				
			</div>
			<div><!-- re-cmt num -->
				
			</div>
		</div>
	</div>
	<div><!-- content -->
		
	</div>
	<div><!-- mouse over-->
		
	</div>
</div>
