<div class="container">
	<h4><%= highlight(songtag.title, @search_term.split, highlighter: '<mark>\1</mark>') %></h4>
	<% if song.nil? %>
		<% song=get_first_song(songtag) %>
	<% end %>
	<img src='<%= youtube_thumb(song) %>' />
	<p><%= highlight(song.title, @search_term.split, highlighter: '<mark>\1</mark>') %></p>	
</div>
