<div class="container">
	<h1>주제</h1>
	<% if @songtags.empty? %>
		<h1>No results!</h1>
	<% else %>
		<% @songtags.each do |songtag| %>
			<%= render partial: "search/search_result", locals: {songtag: songtag, song: nil} %>
		<% end %>
	<% end %>
	<h1>노래</h1>
	<% if @songs.empty? %>
		<h1>No results!</h1>
	<% else %>
		<% @songs.each do |song| %>
			<%= render partial: "search/search_result", locals: {songtag: Songtag.find(song.tag_id), song: song}%>
		<% end %>
	<% end %>
</div>
