<div class="best-reply">
	<div class="best-reply-content">
		<a>베스트댓글asdfsadfffsadfsdafssadfsadfsadfsadfsadfsadfsadfsadfsdsadfafsdfsad</a>
	</div>
	<div class="best-reply-subject">
		주제<span>(댓글수)</span>
	</div>	
</div>