<iframe src="//www.youtube.com/embed/<%= song.youtube_id%>" frameborder="0" allowfullscreen></iframe>

<div class="info">
	<big><%= song.title%></big><br>
	<small><%= song.user%></small>
</div>
