<div class="thumb">
	<!-- thumbnail -->
	<img src='<%= youtube_thumb(song) %>'/>
</div>
<div class="vote">
	<!-- vote btn -->
	<%= render_vote_form(song) %>

</div>
<div class="name">
	<%= song.title %>
</div>
<div style="float:left;">
	<div class="ranks">
		<!-- rank image-->
	</div>
	<div class="voting-num">
		<!-- vote num-->
		<%= song.votes.count%>
	</div>
</div>
