<% songs.each do |song|%>
<div class="detail-rank-elem">
	<%= render 'ranks/detail_rank_elem', :song=>song%>
</div>
<% end %>

<div style="vertical-align: middle; width:410px; height:75px; margin:15px; background-color: #e6e7e8">
	<%= image_submit_tag "add_right_138x35.png", :onclick=>"javascript:show_add_song()", :style=>"width:138px; height:35px; margin-top:20px; margin-left:128px"%>
</div>
