<div>
	<!-- thumbnail -->
	<img src='<%= youtube_thumb(song) %>'/>
</div>
<div>
	<!-- vote btn -->
	<%= render_vote_form(song) %>

</div>
<div>
	<%= song.title %>
</div>
<div>
	<div>
		<!-- rank image-->
	</div>
	<div>
		<!-- vote num-->
		<%= song.votes.count%>
	</div>
</div>
