<div class="detail-rank-elem-thumb">
	<!-- thumbnail -->
	<img src='<%= youtube_thumb(song) %>'/>
</div>
<div class="detail-rank-elem-vote">
	<!-- vote btn -->
	<%= render_vote_form(song) %>

</div>
<div class="detail-rank-elem-name">
	<%= song.title %>
</div>
<div style="float:left;">
	<div class="detail-rank-elem-ranks">
		<!-- rank image-->
	</div>
	<div class="detail-rank-elem-vote-num">
		<!-- vote num-->
		<%= song.votes.count%>
	</div>
</div>
