<% environment.context_class.instance_eval { include SongsHelper } %>

function show_add_song () {
	popup ( $("#song-dialog"))
}

function song_form_add_song() {
	var mint_title = $("input[name='add-mint-name-in-new-song']")[0].value;
	var mint_youtube_link = $("input[name='add-mint-youtube-link-in-new-song']")[0].value;
	var patt=/(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/ ]{11})/i;
	var mint_youtube_id = patt.exec(mint_youtube_link);
	
	if(mint_title == "") {
		alert("Please type mint_title");
	} else if(mint_youtube_link == "") {
		alert("Please type mint_youtube_link");
	} else if(mint_youtube_id == null) {
		alert("Please type right youtube link");
	} else {
		$('#add-song-list-in-new-song').append('<li><img src="http://img.youtube.com/vi/'
									 + mint_youtube_id[1] + '/0.jpg"/>'
									 + mint_title 
									 + '<input id="song__youtube_id" name="song[songs][][youtube_id]" type="hidden" value="' + mint_youtube_id + '">' 
									 + '<input id="song__title" name="song[songs][][title]" type="hidden" value="' + mint_title + '">');
	}
}

function change_song (yid, title, user_name , date, song_id) {
	$("#detail-song-video").html ( "<iframe width=\"560\" height=\"315\" src=\"//www.youtube.com/embed/"+yid+"\" frameborder=\"0\" allowfullscreen></iframe>" );
	$("#detail-song-info").html ("<div class='title'>"+title+"</div><div class='small'>"+user_name  + " | " + date  + "</div>")
	
	select_rank_elem (song_id);
}

function select_rank_elem (song_id) {
	unselect_all_rank ()
	
	$('#rank-elem-'+song_id).css("background-color","#E6E7E8")
}

function unselect_all_rank () {
	var i;
	var selector = $(".detail-rank-elem");
	
	selector.css("background-color","#F5F5F6")
}

function detail_height_init ( rank_height , comment_height ) {
	$(".detail-rank").css({
		height:rank_height
	})

	$(".detail-comment").css({
		height:comment_height
	})
}