<% environment.context_class.instance_eval { include SongsHelper } %>

function show_add_song () {
	popup ( $("#song-dialog"))
}

function song_form_preview_song() {
	var mint_title = $("div.dialog-box input[name='add-mint-name-in-new-song']")[0].value;
	var mint_youtube_link = $("div.dialog-box input[name='add-mint-youtube-link-in-new-song']")[0].value;
	var patt=/(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/ ]{11})/i;
	var mint_youtube_id = patt.exec(mint_youtube_link);
	
	console.log(mint_youtube_id)
	if(mint_title == "") {
		alert("민트 제목을 입력해 주세요");
	} else if(mint_youtube_link == "") {
		alert("Youtube 링크를 입력해 주세요");
	} else if(mint_youtube_id == null) {
		alert("올바른 Youtube 링크를 입력해 주세요");
	} else {
		$("div.dialog-box ul[name='add-song-list-in-new-song']").append('<li><img src="http://img.youtube.com/vi/'
									 + mint_youtube_id[1] + '/0.jpg"/>'
									 + mint_title 
									 + '<a href="#" onclick="sng_del_song($(this).parent())">제거</a>'
									 + '<input id="song__youtube_id" name="song[songs][][youtube_id]" type="hidden" value="' + mint_youtube_id[1] + '"/>' 
									 + '<input id="song__title" name="song[songs][][title]" type="hidden" value="' + mint_title + '"/></li>');
		$("div.dialog-box a[name='add-song-to-table']").hide();
		$('.dialog-box').mCustomScrollbar("update");
		$("div.dialog-box input[name='commit']").removeAttr("disabled");
	}
}

function sng_del_song(elem){
	if(confirm('Delete this element?')){
		$(elem).remove();
		$("div.dialog-box input[name='commit']").attr("disabled", "disabled");
		$('.dialog-box').mCustomScrollbar("update");
		$("div.dialog-box a[name='add-song-to-table']").show();
	}
}

function change_song (yid, title, user_name , date, song_id) {
	var div_html = 	"	<div class='title pull-left'>" +
						title +
					"</div>" +
					"<div class='pull-right'>" +
						"<div class='small'>"+
							user_name + " | " +  date + " | "+
						"</div>"+
						"<div class='facebook-btn'>"+

						"</div>"+
					"</div>";

	$("#detail-song-video").html ( "<iframe width=\"560\" height=\"315\" src=\"//www.youtube.com/embed/"+yid+"?autoplay=1\" frameborder=\"0\" allowfullscreen></iframe>" );
	$("#detail-song-info").html (div_html)
	//$("#detail-song-info").html ("<div class='title'>"+title+"</div><div class='small'>"+user_name  + " | " + date  + "</div>")
	
	select_rank_elem (song_id);
}

function select_rank_elem (song_id) {
	
	unselect_all_rank ()
	
	$('#rank-elem-'+song_id).css("background-color","#E6E7E8")
}

function select_rank_elem_by_id ( id ) {
	unselect_all_rank ()
	
	$("#"+id).css("background-color","#E6E7E8")	
}

function unselect_all_rank () {
	var i;
	var selector = $(".detail-rank-elem");
	
	selector.css("background-color","#F5F5F6")
}

function detail_height_init ( rank_height , comment_height ) {

	$(".detail-rank").css({
		height:rank_height
	})

	$(".detail-comment").css({
		height:comment_height
	})

	$(".detail-add-song-sticker").css({
		"margin-top" : comment_height - 80
	})
}

function get_now_playing_song () {
	var selector = $(".detail-rank-elem")
	var i
	
	for ( i=0 ; i<selector.length ; i++ ){
		var color = selector.eq(i).css("background-color")
		
		if ( color === "rgb(230, 231, 232)" || color==="#E6E7E8") {
			return selector.eq(i).attr("id")
		}
	}
	
	return null
}
