<p id="notice">
	<%= notice %>
</p>

<div>
	<div><!--left col-->
		<div><!--video-->
			<%= render 'songs/show', :song=>@current_song %>
		</div>
		<div><!--rank list |||| enable scroll-->
			<%= render 'ranks/detail_rank_list', :songs => @songs%>
		</div>
	</div>
	<div><!--right col |||| enable scroll-->
		<div><!--title-->
			<%= @songtag.title %>
		</div>
		<div><!--best cmt-->
			
		</div>
		<div><!-- cmt enter form-->
			
		</div>
		<div><!-- cmts... -->
			
		</div>
	</div>
</div>