// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "songtags";

$scrollWidth : 30px;

$indent : 60px;
$overWidth : 200px;
$overHeight : 25px;
$rightColWidth : $rightColWidth - $scrollWidth;

$bestCmtBasicTitleHeight : 20px;
$bestCmtBasicContentHeight : 50px;
$commentPadding : 10px;

$cmtBasicTitleHeight : 25px;
$cmtBasicContentHeight : 25px;
$cmtBasicReContentHeight : $cmtBasicContentHeight - 5px;
$cmtLogHeight : 25px;

$cmtMargin : 10px;

$titleHeight : 30px;

$cmtFontSize : 12px;

.detail-comment {
  box-shadow : 0 3px 10px 0 rgba(0, 0, 0, 0.5);
  width : $rightColWidth;
  height : $colHeight + $cmtMargin - 2*$cmtPadding;//5px은 그냥 작음;
  background-color : $textBackColor;
  padding : $cmtPadding;
}

.detail-title {
  height:$titleHeight;
  line-height:$titleHeight;
  width : $rightColWidth - $scrollWidth;
  background-color : #f9ec31;
  margin-bottom : $cmtMargin;
  .img {
    width : $indent;
    height : $titleHeight;
    float:left;
  }
  
  .text {
    width : $rightColWidth - $indent; 
    big {
      font-size : 15px;
    }
  }
}

.detail-best-cmt-notice {
  height : $indent;
  width: $rightColWidth - $scrollWidth;
  margin-bottom: 20px;
}

.detail-best-cmt-elem {
  width : $rightColWidth - $scrollWidth;
  height: 100%;
  
  position: relative;

  margin-bottom: $cmtMargin;

  .img {
    width : $indent;
    float : left;
    height : 60px;
    //padding : $commentPadding;
  }
  
  .right {  
    padding : $commentPadding;
    width : $rightColWidth - $indent - $scrollWidth - 2*$commentPadding;
    min-height : $indent;
    margin-left: $indent;
    //padding-bottom: $cmtLogHeight;

    background-color : #fefce0;
    
    .title {
      //width : $rightColWidth - $scrollWidth - $overWidth - $indent;
      height : $bestCmtBasicTitleHeight;
      float : left;  
      font-size : $cmtFontSize;
    } 

    .status {
      //width : $overWidth;
      height : $bestCmtBasicTitleHeight;
      //margin-right: $indent;
      float : right;  
      font-size : $cmtFontSize;
    }
    
    .context {
      width : $rightColWidth - $indent - $scrollWidth - 2*$commentPadding;
      min-height: $indent - $bestCmtBasicTitleHeight;
      
      padding-top: 25px;
      word-wrap:break-word;
      font-size : $cmtFontSize;
    }
  }
  
  .over {
    position: absolute;
    bottom: 0px;
    right:0px;
    float:right;
    height:$cmtLogHeight;
    visibility : hidden;
  }
}

.detail-best-cmt-elem:hover  .over {
  visibility : visible;
}


.detail_cmt_form {
  input[type=text]{
    width : $rightColWidth - $scrollWidth - 55px;//17은 인풋과 버튼 사이
    margin-bottom : 0px;
  }
  input[type=button]{
    width : 35px;
    height : 35px;
  }
}


.detail-cmt-elem {
  padding : $commentPadding;
  width : $rightColWidth - $scrollWidth - 2*$commentPadding;
  min-height: $cmtBasicTitleHeight + $cmtBasicContentHeight + $cmtLogHeight;
  position: relative;
  padding-bottom: $cmtLogHeight;
  
  margin-bottom: $cmtMargin;
  
  border-bottom:  1px dashed #ACDEE2;

  .first-row {
    width : $rightColWidth - $scrollWidth - 2*$commentPadding;
    height : $cmtBasicTitleHeight;

    .title {
      width : $rightColWidth - $overWidth - $scrollWidth - 2*$commentPadding;
      height : $cmtBasicTitleHeight;
      float:left;  
      font-size : $cmtFontSize;
    }
    
    .status {
      //width : $overWidth;
      height : $cmtBasicTitleHeight;
      float:right;  
      font-size : $cmtFontSize;
    }
  }
  
  .context {
    width : $rightColWidth - $scrollWidth - 2*$commentPadding;
    min-height: $cmtBasicContentHeight;
    word-wrap:break-word;      
    font-size : $cmtFontSize;
  }
  
  .over {
    position: absolute;
    height:$cmtLogHeight;
    //width : $overWidth;
    bottom: 0px;
    right:0px;
    float:right;
    visibility : hidden;
  }
}

.detail-cmt-elem:hover .over {
  visibility : visible;
}

.detail-cmt-elem:hover { 
  background-color : rgb(238, 248, 249)
}

.detail-cmt-log {
  .log-btn {
    float : left;
    height : 25px;  
  }
}

.detail-re-cmt-elem {
  width : $rightColWidth - $scrollWidth - $indent;
  margin-left: $indent;
  padding-bottom: $cmtLogHeight;
  
  margin-bottom: $cmtMargin;
  
  border-bottom:  1px dashed #ACDEE2;

  padding : $commentPadding;

  .first-row{
    width : $rightColWidth - $scrollWidth - $indent - 2*$commentPadding;
    height : $cmtBasicTitleHeight;
    
    .title {
      width : $rightColWidth - $overWidth - $scrollWidth - $indent - 2*$commentPadding;
      height : $cmtBasicTitleHeight;
      float:left;
      font-size : $cmtFontSize;
    }
    
    .status {
      //width : $overWidth;
      height : $cmtBasicTitleHeight;
      float:right;  
      font-size : $cmtFontSize;
    }
  }


  .context {
    width : $rightColWidth - $scrollWidth - $indent - 2*$commentPadding;
    min-height: $cmtBasicReContentHeight;

    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto;
    word-wrap:break-word;  
    
    font-size : $cmtFontSize;
  }

  .over {
    height:$cmtLogHeight;
    //width : $overWidth;
    bottom: 0px;
    right:0px;
    float:right;
    visibility : hidden;
  }
}

.detail-re-cmt-elem:hover .over {
  visibility : visible;
}

.detail-re-cmt-elem:hover { 
  background-color : rgb(238, 248, 249)
}

.detail-re-cmt-form {
  display : none;
  input[type=text]{
    width : $rightColWidth - $scrollWidth - 55px - $indent;//17은 인풋과 버튼 사이
    margin-left: $indent;
    margin-bottom : 0px;
  }
  input[type=button]{
    width : 35px;
    height : 35px;
  }
}

.detail-hr {
  border-top:  1px dashed #929497;
  height : $cmtMargin;
}

.detail-more-cmt-form{
  width : $rightColWidth - $scrollWidth - 2*$commentPadding;
}

.detail-more-recmt-form{
  width : $rightColWidth - $scrollWidth - 2*$commentPadding;
}