$dialogWidth : 600px;
$dialogHeight : 600px;

$dialogPadding : 10px;
$dialogBackgroundColor : white;
$dialogBorderWidth : 10px;
$dialogBorderColor : rgb(172,222,226);

$dialogOpacity : 0.4;

.dialog-overlay {
	width:100%; 
	height:100%;
	
	filter:alpha(opacity=50); 
	-moz-opacity:$dialogOpacity; 
	-khtml-opacity: $dialogOpacity; 
	opacity: $dialogOpacity; 
	background:#000; 

	position:absolute; 
	top:0; left:0; 
	z-index:3000; 

	/* hide it by default */
	display:none;
}


.dialog-box {
	width : $dialogWidth;
	height : $dialogHeight;

	padding : $dialogPadding;

	border :  $dialogBorderWidth solid $dialogBorderColor;

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

	background: $dialogBackgroundColor;
	
	position:absolute; 
	z-index:5000; 

	/* hide it by default */
	display:none;
}