// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$inputVerticalPadding : 4px;
$inputHorizontalPadding : 2px;
$inputHeight : 12px;

.search-form form input {
  font-size : $inputHeight ;
  margin : 0px;
  height : $inputHeight ;
  padding : $inputVerticalPadding $inputHorizontalPadding;
}

.search-form {
  margin-top : (44px - 2*$inputVerticalPadding - $inputHeight)/2;
  border: 1px solid #01a5b3;
  
  .query {
  }
  
  .button {
  }
}
