// Place all the styles related to the songtags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$leftColWidth : 360px;

$marginInside : 10px;

$videoFramHeight : 210px;
$videoInfoHeight : 30px;
$videoBottomMargin : 15px;

$rankColHeight : 350px;
$rankElemHeight : 75px;
$scrollWidth : 30px;
$scrollWidthRank : 15px;

$rankElemMargin : 15px;
$rankElemInnerMargin : 5px;
$rankImgWidth : 43px;
$rankImgHeight : 55px;

$cmtPadding : 15px;

$colHeight : $videoFramHeight + $videoInfoHeight + $videoBottomMargin + $rankColHeight;
$rightColWidth: 960px - $leftColWidth - $marginInside;
$textBackColor : white;

$cmtWidth : $rightColWidth - 2*$cmtPadding;

$addSongStickerWidth : 88px;
$addSongStickerHeight : 58px;

$rankElemThumbWidth : 75px;

.detail-left-col {
  width : $leftColWidth;
  height : $colHeight;
  margin-right : $marginInside;
  float:left;
}

.detail-video {
  margin-bottom : $videoBottomMargin;
  background-color : $textBackColor;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  
  iframe {
    width : $leftColWidth;
    height : $videoFramHeight;
    padding: 0px;
    margin: 0px;
  }
  
  .info{
    height : $videoInfoHeight + 15px;
    display: block;
    margin-left : 20px;
    margin-right: 20px;
    margin-top : 5px;
    
    .title {//song title
      font-size : 14px;
      line-height : 20px;
      width : $leftColWidth - 40px;
      
      display : block;
      float : left;
      height : 20px;
      
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      
    }
    
    .small{//song writer
      max-width : 200px - 40px;
      line-height : 14px;
      display : block;
      float:left;
      font-size : 10px;
      height : 15px;
    }
    
    .facebook-btn {
      float:left;
    }
  }
}

.detail-rank {
  height : $rankColHeight;
  background-color : $textBackColor;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.detail-rank-elem {
  width : $leftColWidth  - 2*$rankElemMargin - $scrollWidthRank;
  height : $rankElemHeight;
  margin : $rankElemMargin;
  background-color : #e6e7e8;
  border-bottom :  1px dashed #929497;
  
  .thumb {
    width : $rankElemThumbWidth;
    height : $rankElemHeight;
    float : left;
    
    img {
      width : 100%;
      height : 100%;
    }
  }
  
  .vote {
    float : left;
    width : 25px;
    margin-top : ($rankElemHeight - 22px)/2;
    margin-left : $rankElemInnerMargin;
  }
  
  .name {
    line-height : $rankElemHeight;
    width : $leftColWidth  - 2*$rankElemMargin - $rankElemThumbWidth - 25px - $rankImgWidth - 3*$rankElemInnerMargin - $scrollWidthRank;
    height : $rankElemHeight;
    margin-right : $rankElemInnerMargin;
    margin-left : $rankElemInnerMargin;
    
    float : left;
    
    display : block;
    
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto;
    word-wrap:break-word;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    font-size : 14px;
  }
  
  .ranks {
    width : $rankImgWidth;
    margin-top : -10px;
    height : $rankImgHeight;
    img {
      width : 100%;
      height : 100%;
    }
  }
  
  .voting-num {
    margin-left: -170px;
    position: absolute;
    width: 200px;
    text-align: right;
  }
}

.detail-add-song-elem {
  vertical-align: middle;
  border-bottom :  1px dashed #929497;
  border-top :  1px dashed #929497; 
  width:310px; 
  height:75px; 
  margin:15px; 
  background-color: #e6e7e8
}

.detail-add-song-sticker {
  position: absolute;
  width : $addSongStickerWidth;
  height : $addSongStickerHeight;
  margin-left : - $addSongStickerWidth;
}