<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
		<a class="brand" href="/">Catalist</a>
		<ul class="nav">
			<li><a href="/songtags">카탈리스트</a></li>
		</ul>    
		<div class="pull-right">
			<strong><%= current_user.name %></strong>
		</div>
  </div>
</div>